# =========================
# Build
# =========================
target/
*.class

# =========================
# Maven Wrapper
# =========================
.mvn/wrapper/maven-wrapper.jar

# Keep these files (DO NOT ignore them)
#!mvnw
#!mvnw.cmd

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables & Secrets
# =========================
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
application-local.properties
application-local.yml